@import "./reset.css";
* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

header {
  height: 144px;
  background: linear-gradient(#0c4b35 50%, white 50%);
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.nav {
  position: relative;
}

.top_navbar {
  display: flex;
  align-items: center;
  padding: 24px 0;
}
.top_navbar a {
  padding-right: 30px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 14px;
  color: white;
}

.top_navbar_lang {
  position: absolute;
  top: 24px;
  right: 1px;
}
.top_navbar_lang a {
  color: white;
  font-size: 16px;
  padding-right: 5px;
  text-decoration: none;
}

.logo {
  padding-right: 290px;
}

.navbar_down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.navbar_down ul {
  display: flex;
}
.navbar_down li {
  padding-right: 30px;
}
.navbar_down a {
  text-decoration: none;
  padding-right: 5px;
  color: #212529;
}

.menu a:hover {
  color: #00730c;
  font-weight: 600;
}

.btn {
  width: 170px;
  height: 50px;
  background-color: #00730c;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-image: url(./img/call_us.svg);
  background-repeat: no-repeat;
  background-position: 16%;
  padding-left: 20px;
  margin-left: 30px;
}
.btn:hover {
  background-color: white;
  color: #00730c;
  border: 1px solid #00730c;
  transition: 0.2s;
  font-weight: 700;
}

.sub_btn {
  display: none;
}

.menu_burger {
  display: none;
}

.home_wrapper {
  height: 719px;
  background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
}

.home_container {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.home_content {
  padding-top: 133px;
  position: relative;
}

.content_bg {
  position: absolute;
  top: 46px;
  left: 650px;
}
.content_bg img {
  max-width: 100%;
}

.home_subtitle_1 {
  font-size: 16px;
  font-weight: 700;
  color: #212529;
  margin-bottom: 20px;
  background: url(./img/icon1_home.svg) no-repeat left top;
}
.home_subtitle_1 p {
  padding-left: 30px;
}

h1 {
  font-size: 58px;
  font-weight: 800;
  color: #212529;
  line-height: 79px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
h1 span {
  color: #00730c;
}

.home_subtitle_2 {
  color: #676767;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 556px;
  padding-bottom: 50px;
}

.home_btn {
  display: flex;
  align-items: center;
}
.home_btn .btn_2 {
  width: 170px;
  height: 50px;
  background-color: #00730c;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
}
.home_btn .btn_2:hover {
  background-color: white;
  color: #00730c;
  border: 1px solid #00730c;
  transition: 0.2s;
  font-weight: 700;
}
.home_btn p {
  color: #676767;
  font-size: 18px;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  background: url(./img/arrow.svg) no-repeat right;
}

.home_achievement {
  display: flex;
  align-items: center;
  padding-top: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #212529;
}
.home_achievement span {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(72.71deg, #00730c -83.5%, #f9f9f9 93.84%);
  border-radius: 35px;
  margin-right: 10px;
}
.home_achievement p {
  margin-right: 10px;
}

.home_achievement_sub {
  display: none;
}

.services_wrapper {
  margin-top: 100px;
}

.services_container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.services_title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.services_title h2 {
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
  color: #212529;
  padding-bottom: 30px;
}
.services_title h2 span {
  color: #00730c;
}
.services_title p {
  text-align: center;
  max-width: 1136px;
  font-size: 18px;
  color: #676767;
  line-height: 30px;
}

.services_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.main_card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 330px;
  height: 366px;
  padding: 59px 42px;
  background: url(./img/bg_image_card.svg) no-repeat 50% 10%;
  box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.0784313725);
}
.main_card img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}
.main_card h4 {
  margin: 50px 0 10px 0;
  font-size: 24px;
  font-weight: 700;
  color: #212529;
}
.main_card p {
  font-size: 16px;
  color: #676767;
  line-height: 28px;
}

.about_us_wrapper {
  margin-top: 100px;
  max-height: 900px;
}

.about_us_container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.about_us_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 44px;
  margin-left: 270px;
  max-width: 690px;
}

.about_us_images {
  flex-direction: column;
}
.about_us_images .img2 {
  position: absolute;
  top: 36px;
  left: 24px;
}
.about_us_images .img3 {
  position: absolute;
  top: 597px;
  left: 237px;
}

.about_us_title {
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
  color: #212529;
  padding-bottom: 30px;
}
.about_us_title span {
  color: #00730c;
}

.about_us_subtitle {
  font-size: 16px;
  line-height: 28px;
  flex-direction: column;
  margin-bottom: 50px;
  color: #676767;
}

.about_us_advantages .row_1 {
  display: flex;
}
.about_us_advantages .row_1 p {
  font-size: 24px;
  font-weight: 700;
  margin: 32px 40px 32px 0;
}
.about_us_advantages .row_2 {
  display: flex;
}
.about_us_advantages .row_2 p {
  font-size: 24px;
  font-weight: 700;
  margin: 32px 20px 32px 0;
}
.about_us_advantages img {
  margin: 15px 30px;
  height: 67px;
}

.about_btn .btn_3 {
  width: 170px;
  height: 50px;
  background-color: #00730c;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
}
.about_btn .btn_3:hover {
  background-color: white;
  color: #00730c;
  border: 1px solid #00730c;
  transition: 0.2s;
  font-weight: 700;
}

.choose_us_wrap {
  height: 659px;
  background: #0c4b35;
  margin-top: 100px;
}

.choose_us_container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  color: white;
}

.choose_us_content {
  padding-top: 100px;
  position: relative;
}

.choose_bg {
  position: absolute;
  top: 114.5px;
  left: 738px;
  max-width: 672px;
  max-height: 426px;
}

.choose_us_content_text {
  max-width: 656px;
}
.choose_us_content_text h3 {
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 30px;
}
.choose_us_content_text .choose_text_p {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 50px;
}

.row1_advantages {
  display: flex;
  align-items: center;
}
.row1_advantages p {
  margin-right: 88px;
}

.row2_advantages {
  display: flex;
  align-items: center;
}
.row2_advantages p {
  margin-right: 104px;
}

.choose_us_advantages img {
  margin-right: 20px;
}

.choose_us_btn .btn_4 {
  width: 170px;
  height: 50px;
  background-color: #00730c;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
}
.choose_us_btn .btn_4:hover {
  background-color: white;
  color: #00730c;
  border: 1px solid #00730c;
  transition: 0.2s;
  font-weight: 700;
}

.process_wrap {
  margin-top: 100px;
}

.process_container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.process_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 137px 0 137px;
}
.process_title h2 {
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
  color: #212529;
  padding-bottom: 30px;
}
.process_title h2 span {
  color: #00730c;
}
.process_title span {
  color: #00730c;
}
.process_title p {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 50px;
}

.process_cards_block {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 100px;
}

.process_card {
  width: 330px;
  height: 406px;
  padding: 50px 30px 70px 30px;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
  background: url(./img/trees_process.svg) no-repeat 190px 112px;
}
.process_card h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 20px;
}
.process_card p {
  font-style: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #676767;
}

.process_card_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.process_card_img .card_number {
  font-size: 78px;
  font-weight: 800;
  color: #e3e3e3;
}

.hand_holding_ad {
  display: none;
}

.gardering_and_low_services {
  display: flex;
  position: relative;
  align-items: center;
}
.gardering_and_low_services .hand_holding_ad {
  display: none;
}
.gardering_and_low_services .hand_holding {
  display: block;
}
.gardering_and_low_services p {
  font-size: 33px;
  font-weight: 700px;
  max-width: 448px;
  position: absolute;
  justify-content: center;
  right: 315px;
  color: white;
}

.btn_process {
  position: absolute;
  right: 62px;
  background-color: white;
  width: 170px;
  height: 50px;
  color: #00730c;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-image: url(./img/phone_services.svg);
  background-repeat: no-repeat;
  background-position: 16%;
  padding-left: 20px;
  margin-left: 30px;
}
.btn_process:hover {
  background-color: #00730c;
  color: white;
  transition: 1s;
  font-weight: 700;
}

.trained_wrap {
  margin-top: 100px;
}

.trained_container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

h2 {
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
  color: #212529;
  padding-bottom: 30px;
}
h2 span {
  color: #00730c;
}

.trained_text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.trained_text p {
  max-width: 956px;
  font-size: 18px;
  color: #676767;
  line-height: 30px;
}
.trained_text .btn_trained {
  width: 170px;
  height: 50px;
  background-color: #00730c;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
}
.trained_text .btn_trained:hover {
  background-color: white;
  color: #00730c;
  border: 1px solid #00730c;
  transition: 0.2s;
  font-weight: 700;
}

.trained_cards_block {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 100px;
}

.trained_card {
  position: relative;
  width: 330px;
  height: 408px;
}
.trained_card h4 {
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.trained_card p {
  color: white;
  font-size: 18px;
}

.trained_card1_content h4 {
  position: absolute;
  top: 147px;
  left: 95.5px;
}
.trained_card1_content p {
  position: absolute;
  top: 181px;
  left: 107.5px;
}

.trained_card1_icons {
  position: absolute;
  bottom: 147px;
  left: 40px;
}

.trained_card1_icons img {
  padding-right: 25px;
}

.trained_card_content {
  position: absolute;
  bottom: 0px;
  width: 330px;
  height: 90px;
  background: linear-gradient(6.68deg, #00730c 4.95%, rgba(251, 246, 238, 0) 264.79%);
  border-radius: 10px;
}
.trained_card_content h4 {
  position: absolute;
  bottom: 44px;
  left: 95.5px;
}
.trained_card_content p {
  position: absolute;
  bottom: 13px;
  left: 107.5px;
}

.companys_logo {
  display: flex;
  justify-content: space-between;
}

.reviews_our_clients_wrap {
  margin-top: 100px;
  height: 585px;
  background: #e6f6ea;
}

.reviews_container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.reviews_container h2 {
  padding-top: 100px;
}

.reviews_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.reviews_content p {
  max-width: 956px;
  font-size: 18px;
  color: #676767;
  line-height: 30px;
}

.review_card {
  max-width: 690px;
  height: 340px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.review_card .card_text {
  display: flex;
  flex-wrap: wrap;
  padding-left: 249px;
}
.review_card .photo_client_1 {
  position: absolute;
  top: 32px;
  margin-left: 15px;
}
.review_card .photo_client_2 {
  position: absolute;
  top: 32px;
  margin-left: 15px;
}

.star_icon {
  margin-left: 129px;
}

.slider_cards {
  position: relative;
}
.slider_cards p {
  font-size: 18px;
  color: #676767;
  line-height: 30px;
  margin: 62px 25px 27px 0;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.slider .slick-arrow.slick-prev {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -70px;
  left: 1240px;
  background: url(./img/slider_left.png) 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -70px;
  right: 5px;
  background: url(./img/slider_right.png) 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-prev:active {
  width: 50px;
  height: 50px;
  background: url(./img/slider_left_active.png) 0 0/100% no-repeat;
  position: absolute;
  top: -70px;
  left: 1240px;
}

.slider .slick-arrow.slick-next:active {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -70px;
  background: url(./img/slider_right_active.png) 0 0/100% no-repeat;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 10px;
    max-width: 375px;
  }
  .nav {
    max-width: 346px;
  }
  .top_navbar img {
    padding-right: 20px;
  }
  .top_navbar a {
    display: none;
  }
  .navbar_down {
    position: relative;
  }
  .navbar_down .logo {
    padding: 0;
  }
  .navbar_down ul {
    display: none;
  }
  .navbar_down .btn {
    width: 40px;
    height: 34px;
    border-radius: 10px;
    position: absolute;
    right: 50px;
  }
  .navbar_down .btn span {
    display: none;
  }
  .navbar_down .menu_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .navbar_down .menu_burger span {
    position: absolute;
    background-color: #00730c;
    border-radius: 5px;
    width: 100%;
    height: 2.34px;
    left: 0;
    top: 9px;
  }
  .navbar_down .menu_burger:before,
  .navbar_down .menu_burger:after {
    content: "";
    position: absolute;
    background-color: #00730c;
    border-radius: 5px;
    width: 100%;
    height: 2.34px;
    left: 0;
  }
  .navbar_down .menu_burger:before {
    top: 0;
  }
  .navbar_down .menu_burger:after {
    bottom: 0;
  }
  .main {
    max-width: 375px;
    padding: 0 10px;
  }
  .home_container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .home_content {
    padding-top: 270px;
    max-width: 346px;
  }
  .home_content p {
    font-size: 14px;
  }
  .content_bg {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  h1 {
    font-size: 28px;
    line-height: 38px;
    margin: 0;
  }
  .home_btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .home_btn .btn_2 {
    width: 303px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .home_btn p {
    margin-bottom: 40px;
    color: #00730c;
    font-size: 14px;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
    background: url(./img/arrow.svg) no-repeat right;
  }
  .home_achievement {
    display: none;
  }
  .home_achievement_sub {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .home_achievement_sub span {
    width: 135px;
    height: 32px;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #fff8f1 0%, #cbe5ce 100%);
    border-radius: 32px;
    margin-right: 10px;
  }
  .home_achievement_sub p {
    font-size: 10px;
    padding-left: 5px;
  }
  .services_wrapper {
    margin-top: 50px;
  }
  .services_container {
    width: 100%;
  }
  .services_title {
    max-width: 344px;
  }
  .services_title h2 {
    font-size: 28px;
  }
  .services_title p {
    font-size: 14px;
  }
  .services_cards {
    display: flex;
    flex-direction: column;
  }
  .main_card {
    width: 345px;
    height: 116px;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
  }
  .main_card img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 20px;
  }
  .main_card h4 {
    font-size: 16px;
    margin: 0;
    padding-bottom: 10px;
  }
  .main_card p {
    font-size: 14px;
  }
  .card_green {
    background: url(./img/bg_image_card.svg) no-repeat 50% 10%;
  }
  .card_green .img_planting {
    display: none;
  }
  .card_green .img_adaptive {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 20px;
  }
  .card_green h4 {
    color: #212529;
  }
  .card_green p {
    color: #212529;
  }
  .card_item {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin: 20px 10px 10px 90px;
  }
  .about_us_wrapper {
    margin-top: 50px;
  }
  .about_us_container {
    display: flex;
    flex-wrap: wrap;
    max-width: 345px;
    margin: 0;
  }
  .about_us_images {
    height: 462px;
    margin-bottom: 30px;
  }
  .about_us_images .img1 {
    width: 188px;
    height: 293px;
  }
  .about_us_images .img2 {
    position: absolute;
    top: 36px;
    left: 24px;
    width: 291px;
    height: 358px;
  }
  .about_us_images .img3 {
    position: absolute;
    top: 300px;
    left: 103px;
    width: 241px;
    height: 162px;
  }
  .about_us_content {
    margin: 0;
    max-width: 345px;
  }
  .about_us_content h2 {
    font-size: 26px;
    width: 345px;
    padding: 0;
    line-height: 38px;
    text-align: center;
  }
  .about_us_title {
    padding-bottom: 15px;
  }
  .about_us_subtitle {
    margin-bottom: 40px;
  }
  .about_us_subtitle p {
    font-size: 14px;
    text-align: center;
  }
  .about_us_advantages img {
    width: 40px;
    height: 40px;
    margin: 15px 15px 0 0;
  }
  .about_us_advantages .row_1 p {
    font-size: 14px;
  }
  .about_us_advantages .row_2 p {
    font-size: 14px;
  }
  .about_btn .btn_3 {
    width: 167px;
    height: 40px;
    margin-left: 69px;
    margin-top: 0;
  }
  .choose_us_wrap {
    margin-top: 400px;
    height: 684px;
  }
  .choose_us_container {
    padding: 0 10px;
  }
  .choose_us_content {
    padding-top: 297px;
  }
  .choose_bg {
    max-width: 100%;
    position: absolute;
    top: 50px;
    bottom: 30px;
    left: 0;
  }
  .choose_us_content_text {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .choose_us_content_text h3 {
    font-size: 28px;
    padding-bottom: 15px;
  }
  .choose_us_content_text .choose_text_p {
    font-size: 14px;
    padding-bottom: 40px;
  }
  .choose_us_advantages {
    padding-left: 10px;
  }
  .choose_us_advantages .row1_advantages img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .choose_us_advantages .row1_advantages p {
    font-size: 16px;
    margin-right: 16px;
  }
  .choose_us_advantages .row2_advantages img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .choose_us_advantages .row2_advantages p {
    font-size: 16px;
    margin-right: 16px;
  }
  .choose_us_btn .btn_4 {
    margin-top: 30px;
    width: 167px;
    height: 40px;
  }
  .process_wrap {
    margin-top: 50px;
  }
  .process_container {
    margin: 0;
    max-width: 375px;
  }
  .process_title {
    margin: 0;
  }
  .process_title h2 {
    font-size: 28px;
    padding-bottom: 15px;
  }
  .process_title p {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 30px;
    text-align: center;
  }
  .process_cards_block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 55px;
  }
  .process_card {
    width: 345px;
    height: 208px;
    padding: 20px;
    background: url(./img/trees_process_adaptive.svg) no-repeat 237px 47.97px;
  }
  .process_card h4 {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
  }
  .process_card p {
    font-size: 14px;
    line-height: 22px;
  }
  .process_card_img {
    margin-bottom: 10px;
  }
  .process_card_img img {
    width: 50px;
    height: 50px;
  }
  .process_card_img .card_number {
    font-size: 45px;
  }
  .gardering_and_low_services .hand_holding {
    display: none;
  }
  .gardering_and_low_services .hand_holding_ad {
    display: block;
  }
  .gardering_and_low_services p {
    font-size: 20px;
    line-height: 27px;
    position: absolute;
    top: 50px;
    left: 35px;
    right: 35px;
    text-align: center;
  }
  .gardering_and_low_services .btn_process {
    position: absolute;
    bottom: 50px;
    left: 100px;
    width: 137px;
    height: 40px;
    margin: 0;
  }
  .trained_wrap {
    margin-top: 50px;
  }
  .trained_container {
    margin: 0;
    max-width: 375px;
  }
  .trained_container h2 {
    font-size: 28px;
    padding-bottom: 15px;
    line-height: 38px;
    text-align: center;
  }
  .trained_text {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .trained_text p {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding-bottom: 30px;
  }
  .trained_text .btn_trained {
    width: 167px;
    height: 40px;
    margin: 0 auto;
  }
  .trained_cards_block {
    display: none;
  }
  .companys_logo {
    display: none;
  }
  .reviews_our_clients_wrap {
    max-width: 375px;
    margin-top: 50px;
  }
  .reviews_container {
    max-width: 375px;
    margin: 0;
  }
  .reviews_container h2 {
    padding: 50px 0 15px 0;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
  }
  .reviews_content p {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .reviews_slider {
    display: none;
  }
  .slider {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */